attrs==25.3.0
autocommand==2.2.2
cffi==1.17.1
charset-normalizer==3.4.3
cryptography==45.0.7
dbus-python==1.4.0
filelock==3.19.1
idna==3.10
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
lensfun==0.3.4
Levenshtein==0.27.1
more-itertools==10.8.0
openshot-qt==3.3.0
packaging==25.0
platformdirs==4.4.0
psutil==7.0.0
pycairo==1.28.0
pycparser==2.22
PyGObject==3.52.3
pyinotify==0.9.6
PyQt5==5.15.11
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
python-distutils-extra==2.39
pyxdg==0.28
pyzmq==27.0.2
RapidFuzz==3.14.0
requests==2.32.5
setuptools==80.9.0
TBB==0.2
ulauncher==5.15.8
urllib3==2.5.0
urwid==3.0.2
wcwidth==0.2.13
websocket-client==1.8.0
wheel==0.45.1
